{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

    <div class="example-wrapper">
        {% for course in courses %}
            <li><a href="/courses/{{ course.id }}">{{ course.name }} {{ course.url }}</a></li>
        {% endfor %}
    </div>
{% endblock %}
